<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shoppe - Produtos de Higiene Disponíveis.</title>
</head>
<body>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Pet Shoppe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Página Principal<span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/listaAnimais">Lista de Animais Disponíveis</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/listaBrinquedos">Lista de Brinquedos Disponíveis</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/listaHigiene">Lista de Produtos de Higiene Disponíveis</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/cadastroCliente">Cadastre-se Agora!</a>
                </li>
                
            </ul>
            </div>
        </nav>
    </header> --}}
    <h1>Produtos de Higiene Disponíveis</h1>
    <p>A seguir há uma lista dos produtos de higiene atualmente disponíveis para negócio.</p><br>
    <img src="/images/higieneshampoocachorro.jpg" width="300" height="500"></image>
    <p>Shampoo Antipulgas para Cachorros - Deixa seu pet cheiroso e elimina parasitas que possam o incomodar. Funciona apenas em cachorros.</p><br>
    <img src="/images/higieneescovacachorro.jpg" width="300" height="300"></image>
    <p>Escova de Dentes para Cachorros - Mantém seu cachorro longe das caries e torna os dentes fortes.</p><br>
    <img src="/images/higieneescovapelocachorro.jpg" width="300" height="300"></image>
    <p>Escova de pelos para Cachorros - Perfeito para cães com pelagem longa, inibe a queda de pelos.</p><br>
    <img src="/images/higieneshampoogato.jpg" width="300" height="300"></image>
    <p>Shampoo Antipulgas para Gatos - Deixa seu pet cheiroso e elimina parasitas que possam o incomodar. Funciona apenas em gatos.</p><br>
    <img src="/images/higienecaixaareia.jfif" width="300" height="300"></image>
    <p>Caixa de Areia paga Gatos - Cria um local para o seu bichano poder realizar suas necessidades.</p><br>
    <img src="/images/higienecortadorgato.jpg" width="300" height="300"></image>
    <p>Cortador de unhas para Gatos - Mantém as unhas do seu gato em perfeito estado.</p><br>
</body>
</html>