<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shoppe - Lista de Animais Gigatônicos</title>
</head>
<body>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Pet Shoppe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Página Principal<span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/listaAnimais">Lista de Animais Disponíveis</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/listaBrinquedos">Lista de Brinquedos Disponíveis</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/listaHigiene">Lista de Produtos de Higiene Disponíveis</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/cadastroCliente">Cadastre-se Agora!</a>
                </li>
                
            </ul>
            </div>
        </nav>
    </header> --}}
    <h1>Animais Disponíveis</h1>
    <p>A seguir há uma lista dos animais atualmente disponíveis para negócio.</p><br>
    <img src="/images/cachorroballtze.jpg" width="300" height="300"></image>
    <p>Balltze - Um Shiba Inu genuinamente lindo, perfeito para familias que precisam de amor.</p><br>
    <img src="/images/cachorrocleber.jpeg" width="550" height="300"></image>
    <p>Cleber - O mais tradicional cachorro da familia brasileira, perfeito para patriotas, na compra compra de um, você ganha de brinde, uma bandeira do Brasil.</p><br>
    <img src="/images/cachorrofernandomiguel.jpg" width="300" height="300"></image>
    <p>Fernando Miguel - Um cachorro imponente, destemido e protetor, perfeito para familias que precisam de um amigo feroz e carinhoso.</p><br>
    <img src="/images/gatobingus.jpg" width="300" height="300"></image>
    <p>Bingus - Um gato da raça Sphynx, originário do Canadá, é fofo e sem pelos. Rumores dizem que originou o personagem Bills de Dragon Ball Super.</p><br>
    <img src="/images/gatoclovis.jpg" width="300" height="300"></image>
    <p>Clovis - Um dos gatos mais longos que já passaram pela Pet Shoppe, é extremamente dócil e afetuoso.</p><br>
    <img src="/images/gatomichael.png" width="300" height="300"></image>
    <p>Michael - O gato mais jovem disponível na Pet Shoppe, possui uma habilidade extraordinária para se manter em pé.</p><br>

</body>
</html>