<h1>Tela inicial adminstrativa</h1>
<a class="btn btn-primary btn-lg" href="/administrador/lista" role="button">Lista de Administradores</a>
<a class="btn btn-primary btn-lg" href="/administrador/registro" role="button">Criar Administrador</a>
<a class="btn btn-primary btn-lg" href="/clientes" role="button">Listagem de Clientes</a>
